<html>
  
  <body>
   
    
   <link rel="stylesheet" type="text/css" href="{'index.css' %}"/>
    {% if name %}
    <h1>Hello {{name }}</h1>
    {% else %}
    <h1>lalalal</h1>
    {% endif %}
    <h4>Repo list with download link</h4>
    <table border="1">
      <tr>
        <th>Datasets</th>
        <td>Download & Upload To Evaluate</td>
      </tr>
      <tr>
        <th rowspan="2">Temperature</th>
        <td>
          <a href="/download"><button>Download Repo</button></a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/file">Upload & Evaluate</a>
        </td>
      </tr>
      <tr>
        <th rowspan="2">Earthquake</th>
        <td>
          <a href="/download"><button>Download Repo</button></a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/file">Upload & Evaluate</a>
        </td>
      </tr>
    </table>
    <h2>----------------------------</h2>
  </body>
</html>
