<html>
  <body>
    <style>
    
    body {
    background-color:lightblue;
    color:#000066;
    font-size: 100%;
    list-style: 100%;
    line-height: 100%;
    background-position: center 100px;
    margin: 0 35% 0;
    vertical-align: middle;
    
  }
  table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
    </style>
 
    <br>
    {% if name %}
    <h1>Hello {{name }}</h1>
    {% else %}
    <h1>lalalal</h1>
    {% endif %}
    <h4>Repo list with download link</h4>
    <table border="1">
      <tr>
        <th>Datasets</th>
        <td>Download & Upload To Evaluate</td>
      </tr>
      <tr>
        <th rowspan="2">Temperature</th>
        <td>
          <a href="/download"><button>Download Repo</button></a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/file">Upload & Evaluate</a>
        </td>
      </tr>
      <tr>
        <th rowspan="2">Earthquake</th>
        <td>
          <a href="/download"><button>Download Repo</button></a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/file">Upload & Evaluate</a>
        </td>
      </tr>
    </table>
    <h2>----------------------------</h2>
  </body>
</html>
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About

